<div class="row homepage_episode_row">
    <div class="col-md-12">
        <h3>{{ .Title }}</h3>
        <small>
            Veröffentlicht am {{ .Date | time.Format "02.01.2006" }}
        </small>
    </div>
</div>

{{ if .Params.spotify }}
<div class="row homepage_episode_row">
    <div class="col">
        <iframe
            style="border-radius: 12px"
            src="{{ .Params.spotify }}"
            width="100%"
            height="152"
            frameborder="0"
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        >
        </iframe>
    </div>
</div>
{{ end }} {{ if .Description }}
<div class="row homepage_episode_row">
    <div class="col">{{ .Description | markdownify }}</div>
</div>
{{ end }}
