{{ define "main" }} {{ partial "jumbotron.html" . }}

{{ partial "testimonials-carousel.html" . }}

<h2>Letzte Folge</h2>
{{ range first 1 (where site.RegularPages ".Params.episode_type" "!=" "trailer")
}}
<div class="row homepage_episode_row">
    <div class="col-md-12">
        <iframe
            style="border-radius: 12px"
            src="{{ .Params.spotify }}"
            width="100%"
            height="152"
            frameborder="0"
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        ></iframe>
    </div>
</div>
{{ end }} {{ end }}
